/** start of  smaller screen*/
@media only screen and (max-width: 690px) {
  .header-logo {
    font-weight: bold;
    font-size: 22px;
  }

  .site-logo {
    padding: 20px;
  }

  .slicknav_btn {
    position: relative;
    top: 0px;
  }

  /*** FRONT PAGE START ****/
  .frontpage-banner-container {
    width: 100%;
  }

  .frontpage-banner-img {
    width: 100%;
    max-height: 200px;
    /* object-fit: cover; */
  }

  .intro-modal-background {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  /*** FRONT PAGE END ***/
}

/** end of smaller screen **/

/** start of bigger screen*/
@media only screen and (min-width: 690px) {
  .header-logo {
    font-weight: bold;
    font-size: 23px;
  }

  /*** FRONT PAGE START ****/
  .frontpage-banner-container {
    width: 100%;
  }

  .frontpage-banner-img {
    width: 100%;
    max-height: 350px;
    /* object-fit: cover; */
  }

  .intro-modal-background {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .intro-modal {
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4),
      -10px 10px 10px rgba(0, 0, 0, 0.4);
  }
  /*** FRONT PAGE END ***/
}

/** end of bigger screen **/

.w {
  color: white;
}

.r {
  color: #fc0254;
}
